<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Тестирование{% endblock title %}</title>
    {% load static %}
    <link rel='icon' type='image/x-icon' href="{% static 'images/testing.png' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" title="Переход на главную страницу">Тестирование сотрудников</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Меню администратора
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href='/add_tests_employees'>Добавить тест</a></li>
                        <li><a href='/add_employees'>Добавление сотруников</a></li>
                        <li><a href='/admin' target="_blank">Админка Django</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                {% else %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>{% block header %}{% endblock header %}</h3>
        <p>{% block content %}{% endblock content %}</p>
        <p id="date">{% now 'j F Y' %}</p>
    </div>

</body>
</html>