{% extends 'base.html' %}
{% block title %}Тест{% endblock title %}
{% block header %}<h3>Тест №{{ test }}</h3>{% endblock header %}
{% block content %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'style/style_test.css' %}"/>
<script src="{% static 'js/testing.js' %}"></script>
    <div id="test-employees-name"></div>
    <div id="question"></div>
    <div id="answer-question"></div>
    <button type="button" class="btn btn-success" id="btn-answered">Ответить на вопрос</button>
    <div id="test-employees-description"></div>
    <div id="questions-test"></div>
<script type="application/javascript">
    JSONParsing('/drf_employees_test/1/', ShowTestEmployees);
    JSONParsing('/drf_questions/1/questions_test/', ShowQuestions);
    JSONParsing('/drf_questions/5/question_answers/', ShowAnswers);
    JSONParsing('/drf_questions/1/question_count/', ShowQuestionsCount);
</script>
{% endblock content %}